@import 'reset.scss';
@import 'mixin.scss';

/*-------------------------------------WRAPPER---------------------------------------*/

.wrapper-header {
  background: url(../images/header-background.png) repeat;
  box-shadow: inset 16px -35px 100px -26px rgba(0,0,0,0.5);
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  .active {//то лучше уже сразу через хедер нав
    color: $links_color;
  }
}


/*-------------------------------------HEADER---------------------------------------*/

.header {
  overflow: hidden;
  width: 900px;
  margin: 0 auto 20px;
  padding-bottom: 35px;
  background: {
    image: url(../images/circles.png);
    repeat: no-repeat;
    position: 225px 155px;
  }
  h1 {
    width: 167px;
    height: 71px;
    overflow: hidden;
    float: left;
    margin: 20px 0;
  }
  .social {//оверфлоу в коде должен идти после флоатов
  // оно у тебя никак не центрируется когда добавляешь еще один элемент.. а должно.
    overflow: hidden;
    margin: 30px;
    padding: 0 15px;
    li {
      float: left;
      margin: 5px;
      overflow: hidden;
      text-align: center;
      position: relative;
      left: 20%;//не :)
      border-radius: 15px;
      background-color: rgba(142, 168, 170, 0.5);
      &:hover {
        background-color: rgba(142, 168, 170, 0.8);
      }

      a {
        text-indent: 100%;
        display: block;
        width: 23px;
        height: 23px;
        border-radius: 15px;
      }
      .fb {
        background: url(../images/fb.png) 50% 50% no-repeat;
        &:hover {
          background: url(../images/fb.png) 50% 50% no-repeat;
        }
      }
      .vk {
        background: url(../images/vk.png) 50% 50% no-repeat;
        &:hover {
          background: url(../images/vk.png) 50% 50% no-repeat;
        }
      }
      .twitter {
        background: url(../images/twitter.png) 50% 50% no-repeat;
        &:hover {
          background: url(../images/twitter.png) 50% 50% no-repeat;
        }
      }
      .youtube {
        background: url(../images/youtube.png) 50% 50% no-repeat;
        &:hover {
          background: url(../images/youtube.png) 50% 50% no-repeat;
        }
      }
      .vimeo {
        background: url(../images/vimeo.png) 50% 50% no-repeat;
        &:hover {
          background: url(../images/vimeo.png) 50% 50% no-repeat;
        }
      }
    }
  }
  .nav {
    float: right;
    margin: 40px 0 20px 0;
    li {
      float: left;
      margin-right: 15px;
      .active {
        color: $links_color;
      }
      a {
        text-transform: capitalize;
        font: {
          family: Arial, sans-serif;
          weight: bold;
          size: 15px;
          color: #396375;
        }
        &:hover {
          color: $links_color;
        }
      }
    }
  }
  .header-bottomn {
    border-top: $border;
    clear: both;
    padding-top: 55px;
    .topic {
      margin: 20px auto;
      line-height: 60px;
      color: #246987;
      text-align: center;
      font: {
        family: $trebuchet;
        size: 53px;
        weight: normal;
      }
    }
    .reg {
      display: block;
      width: 210px;
      padding: 30px 60px;//так auto слева справа можно :)
      margin: auto;
      font: {
        family: $trebuchet;
        weight: bold;
        size: 26px;
      }
      color: #fff;
      background: {
        image: url(../images/ribbon-reg.png);
        repeat: no-repeat;
        position: left;
      }
    }
  }
}

/*-------------------------------------CONTENT--------------------------------------*/

.content {
  p {
    margin: 45px 130px 30px 130px;//auto опять же, и max-width
    font-size: 15px;
    line-height: 22px;
    a {
      font-size: 15px;
      color: $links_color;
    }
  }
  .our-curs {
    text-transform: capitalize;
    padding-bottom: 10px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 5px;
    border-bottom: $border;
    font: {
      family: $trebuchet;
      weight: normal;
      size: 20px;
    }
  }
  .curses {
    overflow: hidden;
    li {
      width: 425px;
      float: left;
      margin: 25px 25px 25px 0;

      .logo-curs {
        float: left;
        margin-right: 20px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px dashed #CB2E77;
        text-align: center;
        @include border-radius(50px);

        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          // что-то не сработало в сафари у меня :)
        }
      }
      h4 {
        text-transform: capitalize;
        overflow: hidden;
        margin-bottom: 15px;
        a {
          color: $links_color;
          font: {
            family: $trebuchet;
            weight: normal;
            size: 27px;
          }
        }
      }
      p {
        margin: 0 0 0 145px;
      }
    }
  }
}

/*-------------------------------------FOOTER---------------------------------------*/

.footer {
  .footer-wrap {
    overflow: hidden;
    margin: 40px 0 25px 0;
    padding: 30px 0;
    .fb {
      border: none;
      overflow: hidden;
      float: left;
      width: 285px;
      height: 260px;//не стоит
    }
    .certif {
      float: left;
      width: 275px;
      height: 194px;//не стоит
      position: relative;
      margin: 0 25px;
      background: {
        image: url(../images/certif-bg.jpg);
        repeat: repeat-x;
        position: left;
      }
      img {
        position: absolute;
        bottom: 110px;
        left: 45px;
      }
      a {
        img {
          bottom: 35px;
          left: 25px;
        }
      }
    }

    .sponsors {
      float: left;
      width: 275px;
      height: 194px;//не стоит
      text-align: center;
      h4 {
        padding-bottom: 5px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 5px;
        border-bottom: $border;
        font: {
          family: $trebuchet;
          weight: normal;
          size: 17px;
        }
      }
      li {
        display: inline-block;
        margin: 10px;
        -webkit-filter: grayscale(1);
        filter: gray;
        filter: grayscale(1);
        filter: url(#gray);
        -webkit-filter: url(#gray);
        -webkit-filter: grayscale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
        filter: url('desaturate.svg#greyscale');
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        &:hover {
          filter: none;
          -webkit-filter: none;
          -ms-filter: none;
        }
      }
    }
  }

  .footer-bottomn {
    padding: 15px 0 50px 0;
    border-top: $border;
    ul {//класс потерялся
      float: left;
      li {
        float: left;
        margin-right: 25px;
        a {
          text-transform: capitalize;
          font: {
            weight: bold;
            size: 11px;
          }
          &:hover {
            color: $links_color;
          }
        }
      }
    }
    .copyright {
      float: right;
      color: #9ecacf;
      font-size: 8px;
    }
  }
}


// не плохо, молодец! но конечно же, всегда можно лучше :)